.heading {
  display: flex;
  background-color: rgb(10, 14, 24);
}

.heading-item {
  flex: 1;
  padding: 6px;

  span:first-child {
    margin-right: 5px;
  }
}

.heading-item:not(:first-child) {
  text-align: right;
}
