.percentage-bar {
  position: relative;
}

.percentage-bar:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: var(--width-after);
  transition: all 0.1s linear;
}

.bids-bar:after {
  background-color: rgba(var(--bs-success-rgb), 0.2);
}

.asks-bar:after {
  background-color: rgba(var(--bs-danger-rgb), 0.2);
}
